<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.person.mybatisplusdemo.dao.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.person.mybatisplusdemo.entity.User">
        <id column="user_id" property="userId" />
        <result column="account" property="account" />
        <result column="department" property="department" />
        <result column="role_id" property="roleId" />
        <result column="password" property="password" />
        <result column="token" property="token" />
        <result column="user_name" property="userName" />
        <result column="company_id" property="companyId" />
        <result column="gc_id" property="gcId" />
        <result column="is_admin" property="isAdmin" />
        <result column="is_active" property="isActive" />
        <result column="remark" property="remark" />
        <result column="create_man" property="createMan" />
        <result column="create_time" property="createTime" />
        <result column="update_man" property="updateMan" />
        <result column="update_time" property="updateTime" />
        <result column="usertype" property="usertype" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, account, department, role_id, password, token, user_name, company_id, gc_id, is_admin, is_active, remark, create_man, create_time, update_man, update_time, usertype
    </sql>

</mapper>
